<h1>Calculadora</h1>
<form [formGroup]="formCalculador" (ngSubmit)="sumar()">
  <div class="mb-3">
    <label  class="form-label">Número 1</label>
    <input type="number" class="form-control" formControlName="num1"/>
    @if (num1.errors && num1.touched)
    {
      @if (num1.hasError('required'))
      {
        <div class="text-danger">El número es obligatorio</div>
      }
      @if (num1.hasError('min')) {
        <div class="text-danger">El número debe ser igual o mayor a 0</div>
      }
    }
  </div>
  <div class="mb-3">
    <label  class="form-label">Número 2</label>
    <input type="number" class="form-control" formControlName="num2" />
  </div>
  <select class="form-control" name="" id="">
    <option value="1">Sumar</option>
    <option value="2">Restar</option>
    <option value="3">Multiplicar</option>
  </select>
  <hr>
  <button type="submit" class="btn btn-primary">Operar</button>
  <div style="font-size: 25px;">
    Resultado: {{resultado}}
  </div>
</form>
